<div class="query-control">
  <div class="query-control-row">
    <!-- Field Selector Dropdown -->
    <nz-select
      class="field-selector"
      nzPlaceHolder="Add filter by field..."
      nzShowSearch
      nzAllowClear
      [(ngModel)]="selectedField"
      (ngModelChange)="onFieldSelect($event)"
    >
      <nz-option
        *ngFor="let field of queryFields"
        [nzValue]="field.key"
        [nzLabel]="field.label"
      ></nz-option>
    </nz-select>
  </div>

  <!-- Range Input Dialog (for year, etc.) -->
  <nz-modal
    [(nzVisible)]="rangeDialogVisible"
    nzTitle="Set Range Filter"
    [nzOkDisabled]="!isRangeValid()"
    (nzOnOk)="onRangeDialogOk()"
    (nzOnCancel)="onRangeDialogCancel()"
    nzOkText="Apply"
    nzCancelText="Cancel"
  >
    <ng-container *nzModalContent>
      <div class="range-dialog-content">
        <div class="field-info">
          <label class="field-label">{{ currentField?.label }}</label>
          <p class="field-description">Enter minimum and/or maximum values. At least one is required.</p>
        </div>

        <div class="range-inputs">
          <div class="range-input-group">
            <label>Minimum</label>
            <nz-input-number
              [(ngModel)]="rangeMin"
              [nzPlaceHolder]="'Min ' + currentField?.label"
              style="width: 100%"
            ></nz-input-number>
          </div>

          <div class="range-separator">to</div>

          <div class="range-input-group">
            <label>Maximum</label>
            <nz-input-number
              [(ngModel)]="rangeMax"
              [nzPlaceHolder]="'Max ' + currentField?.label"
              style="width: 100%"
            ></nz-input-number>
          </div>
        </div>

        <nz-alert
          *ngIf="rangeMin !== undefined && rangeMax !== undefined && rangeMin > rangeMax"
          nzType="error"
          nzMessage="Minimum cannot be greater than maximum"
          nzShowIcon
          class="validation-alert"
        ></nz-alert>
      </div>
    </ng-container>
  </nz-modal>

  <!-- String/Number Input Dialog -->
  <nz-modal
    [(nzVisible)]="stringDialogVisible"
    [nzTitle]="'Filter by ' + currentField?.label"
    [nzOkDisabled]="!isStringValid()"
    (nzOnOk)="onStringDialogOk()"
    (nzOnCancel)="onStringDialogCancel()"
    nzOkText="Apply"
    nzCancelText="Cancel"
  >
    <ng-container *nzModalContent>
      <div class="string-dialog-content">
        <div class="field-info">
          <label class="field-label">{{ currentField?.label }}</label>
          <p class="field-description" *ngIf="currentField?.placeholder">
            {{ currentField?.placeholder }}
          </p>
        </div>

        <nz-input-group>
          <input
            nz-input
            [(ngModel)]="stringValue"
            [placeholder]="currentField?.placeholder || 'Enter value'"
            (keyup.enter)="isStringValid() && onStringDialogOk()"
          />
        </nz-input-group>
      </div>
    </ng-container>
  </nz-modal>

  <!-- Manufacturer Multi-Select Dialog -->
  <nz-modal
    [(nzVisible)]="manufacturerDialogVisible"
    nzTitle="Select Manufacturers"
    nzWidth="600px"
    (nzOnOk)="onManufacturerDialogOk()"
    (nzOnCancel)="onManufacturerDialogCancel()"
    nzOkText="Apply"
    nzCancelText="Cancel"
  >
    <ng-container *nzModalContent>
      <div class="manufacturer-dialog-content">
        <div class="field-info">
          <p class="field-description">Select one or more manufacturers to filter results.</p>
        </div>

        <!-- Search Input -->
        <nz-input-group [nzPrefix]="prefixIconSearch" [nzSuffix]="suffixClearButton" class="search-input">
          <input
            nz-input
            placeholder="Type to search manufacturers..."
            [(ngModel)]="manufacturerSearchTerm"
            (ngModelChange)="onManufacturerSearchChange()"
            #searchInput
          />
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
        <ng-template #suffixClearButton>
          <button
            nz-button
            nzType="text"
            nzSize="small"
            *ngIf="manufacturerSearchTerm"
            (click)="clearManufacturerSearch()"
            class="clear-button"
          >
            <i nz-icon nzType="close-circle" nzTheme="fill"></i>
          </button>
        </ng-template>

        <nz-spin [nzSpinning]="isLoadingManufacturers">
          <div class="manufacturer-list">
            <div
              *ngFor="let manufacturer of filteredManufacturers"
              class="manufacturer-item"
              (click)="toggleManufacturer(manufacturer)"
            >
              <label nz-checkbox
                [ngModel]="tempSelectedManufacturers.indexOf(manufacturer) !== -1"
                (ngModelChange)="toggleManufacturer(manufacturer)"
                (click)="$event.stopPropagation()"
              >
                {{ manufacturer }}
              </label>
            </div>
          </div>
          <div *ngIf="filteredManufacturers.length === 0 && !isLoadingManufacturers" class="no-data">
            No manufacturers match your search
          </div>
        </nz-spin>

        <div class="selection-summary" *ngIf="tempSelectedManufacturers.length > 0">
          <strong>Selected ({{ tempSelectedManufacturers.length }}):</strong>
          {{ tempSelectedManufacturers.join(', ') }}
        </div>
      </div>
    </ng-container>
  </nz-modal>
</div>
