<div class="table-picker-container">
  <!-- BaseDataTable with flat manufacturer-model rows -->
  <app-base-data-table
    [tableId]="'table-picker'"
    [columns]="columns"
    [dataSource]="dataSource"
    [queryParams]="tableQueryParams"
    [maxTableHeight]="'400px'"
    [showColumnManagement]="false"
    (dataLoaded)="onDataLoaded()"
    (queryParamsChange)="onTableQueryChange($event)"
  >
    <!-- Custom cell rendering for flat rows -->
    <ng-template #cellTemplate let-column="column" let-row="row">
      <ng-container [ngSwitch]="column.key">
        <!-- Manufacturer column with checkbox -->
        <ng-container *ngSwitchCase="'manufacturer'">
          <label
            nz-checkbox
            [nzIndeterminate]="
              getManufacturerCheckboxState($any(row).manufacturer) === 'indeterminate'
            "
            [nzChecked]="getManufacturerCheckboxState($any(row).manufacturer) === 'checked'"
            (nzCheckedChange)="onManufacturerCheckboxChange($any(row).manufacturer, $event)"
            (click)="$event.stopPropagation()"
          >
            {{ $any(row).manufacturer }}
          </label>
        </ng-container>

        <!-- Model column with checkbox -->
        <ng-container *ngSwitchCase="'model'">
          <label
            nz-checkbox
            [nzChecked]="isRowSelected($any(row))"
            (nzCheckedChange)="
              onModelCheckboxChange(
                $any(row).manufacturer,
                $any(row).model,
                $event
              )
            "
            (click)="$event.stopPropagation()"
          >
            {{ $any(row).model }}
          </label>
        </ng-container>

        <!-- Default rendering -->
        <span *ngSwitchDefault>
          {{ $any(row)[column.key] }}
        </span>
      </ng-container>
    </ng-template>
  </app-base-data-table>

  <!-- Selected items display -->
  <div class="selections-display" *ngIf="selectedItems.length > 0">
    <div class="selections-header">
      <span class="selections-count">{{ selectedItems.length }} selected</span>
      <button nz-button nzType="link" nzSize="small" (click)="onClear()">
        Clear all
      </button>
    </div>

    <div class="selections-chips">
      <nz-tag
        *ngFor="let item of selectedItems"
        nzMode="closeable"
        (nzOnClose)="onRemoveModel(item)"
        class="selection-chip"
      >
        {{ item.manufacturer }} - {{ item.model }}
      </nz-tag>
    </div>
  </div>

  <!-- Action buttons -->
  <div class="actions-section">
    <button
      nz-button
      nzType="primary"
      nzSize="large"
      (click)="onApply()"
      [disabled]="selectedItems.length === 0"
    >
      <i nz-icon nzType="check-circle" nzTheme="outline"></i>
      Apply ({{ selectedItems.length }})
    </button>

    <button
      nz-button
      nzType="default"
      nzSize="large"
      (click)="onClear()"
      [disabled]="selectedItems.length === 0"
    >
      <i nz-icon nzType="close-circle" nzTheme="outline"></i>
      Clear
    </button>
  </div>
</div>
