<div class="popout-container">
  <!-- Header with title and close button -->
  <div class="popout-header">
    <h2 class="popout-title">{{ panelTitle }}</h2>
    <button nz-button nzType="text" nzSize="small" (click)="closeWindow()" class="close-btn">
      <span nz-icon nzType="close" nzTheme="outline"></span>
    </button>
  </div>

  <!-- Generic panel content - components handle their own state -->
  <div class="popout-content">
    <ng-container [ngSwitch]="panelType">

      <!-- Manufacturer-Model Picker Panel -->
      <div *ngSwitchCase="'picker'" class="panel-wrapper">
        <app-table-picker></app-table-picker>
      </div>

      <!-- Vehicle Results Table Panel -->
      <div *ngSwitchCase="'results'" class="panel-wrapper">
        <app-results-table></app-results-table>
      </div>

      <!-- PlotlyJS Charts Panel -->
      <div *ngSwitchCase="'plotly-charts'" class="panel-wrapper">
        <app-plotly-histogram></app-plotly-histogram>
      </div>

      <!-- Query Control Panel -->
      <div *ngSwitchCase="'query-control'" class="panel-wrapper">
        <app-query-control
          (filterAdd)="onFilterAdd($event)"
          (filterRemove)="onFilterRemove($event)">
        </app-query-control>
      </div>

      <!-- Static Parabola Chart Panel -->
      <div *ngSwitchCase="'static-parabola'" class="panel-wrapper">
        <app-static-parabola-chart></app-static-parabola-chart>
      </div>

      <!-- Manufacturer Chart Panel -->
      <div *ngSwitchCase="'manufacturer-chart'" class="panel-wrapper">
        <app-manufacturer-chart></app-manufacturer-chart>
      </div>

      <!-- Year Chart Panel -->
      <div *ngSwitchCase="'year-chart'" class="panel-wrapper">
        <app-year-chart></app-year-chart>
      </div>

      <!-- Models Chart Panel -->
      <div *ngSwitchCase="'models-chart'" class="panel-wrapper">
        <app-models-chart></app-models-chart>
      </div>

      <!-- Body Class Chart Panel -->
      <div *ngSwitchCase="'body-class-chart'" class="panel-wrapper">
        <app-body-class-chart></app-body-class-chart>
      </div>

      <!-- Unknown panel type -->
      <div *ngSwitchDefault class="panel-wrapper">
        <nz-alert
          nzType="warning"
          nzMessage="Unknown Panel Type"
          [nzDescription]="'Panel type &quot;' + panelType + '&quot; is not recognized.'"
          nzShowIcon
        ></nz-alert>
      </div>

    </ng-container>
  </div>
</div>
