.parabola-chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #ffffff;
}

.chart {
  flex: 1;
  width: 100%;
  min-height: 500px;
}
