::ng-deep .selected {
  background-color: #e6f7ff !important;
}

::ng-deep nz-tree {
  .ant-tree-treenode {
    cursor: pointer;
  }

  .ant-tree-node-selected {
    background-color: #e6f7ff;
  }
}

nz-table {
  tbody tr:hover {
    background-color: #fafafa;
  }

  .selected {
    background-color: #e6f7ff;
    font-weight: 500;
  }
}
